@page "/management/index"

<div class="d-flex justify-content-center align-items-center vh-10">
    <div class="text-center">
        <NavLink class="btn btn-primary m-2" href="/management/releases/index">Releases</NavLink>
        <NavLink class="btn btn-success m-2" href="/management/softwarebuilds/index">Software Builds</NavLink>
    </div>
</div>