@page "/feature/create"

@using DefectReporter.Shared.Models.Application
@inject IHttpClientFactory HttpClientFactory

<h3>Add feature</h3>

@if (message != null)
{
    <p>@message</p>
}
else
{
}

@code {
    private Feature feature = new Feature();
    private string message;

    private async Task AddFeature()
    {
        var client = HttpClientFactory.CreateClient("DefectReporter.ServerAPI");

        var response = await client.PostAsJsonAsync("/api/feature/createFeature", feature);

        if (response.IsSuccessStatusCode)
        {
            message = await response.Content.ReadAsStringAsync();
        }
        else
        {
            message = "Failed to add feature.";
        }
    }
}